.friendItem {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  margin: 0 auto;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 16px;
  margin: 0;
}

.status {
  font-weight: bold;
}

.online {
  color: green;
}

.offline {
  color: red;
}
